<div>
    <h3>
        Hello {{user.first_name}} {{user.last_name}},
    </h3>
    <p>
        Hope you are doing well. You requested for an online appointment with {{doctor.first_name}} {{doctor.last_name}}.
    </p>
    <p>
        Your doctor is available now. Join the below link as soon as possible.
    </p>
    <p>
        Meet Link: <a href="{{doctor.meet_link}}" target="_blank">
            {{doctor.meet_link}}
        </a>
    </p>
    <p>
        Thank you Smart Care Team
    </p>
</div>